body {
    font: sans-serif;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
}

header {
    position: fixed;
    background-color: lightblue;
    width: 96%;
    text-align: center;
    color: indigo;
    border: 10px solid pink;
    padding: 5px;
}

a {
    padding: 5%;
}

#cat {
    display: block;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

#about-us, #contact-info, #more-options {
    color: indigo;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: pink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: indigo;
  }
  
  .container {
    border-radius: 5px;
    background-color: powderblue;
    padding: 20px;
  }

footer {
    width: 100%;
    text-align: center;
}